Yaji.Runtime/Service References/DevalayaService/DevalayaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58666/DevalayaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Yaji.Common" />
  <xs:import schemaLocation="http://localhost:58666/DevalayaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetNewListings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewListingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Yaji.Common" minOccurs="0" name="GetNewListingsResult" nillable="true" type="q1:ArrayOfDevalayaSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ID" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Yaji.Common" minOccurs="0" name="GetDetailsResult" nillable="true" type="q3:DevalayaDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>