Yaji.Runtime/Service References/DevalayaService/DevalayaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Yaji.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Yaji.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58666/DevalayaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDevalayaSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DevalayaSummary" nillable="true" type="tns:DevalayaSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevalayaSummary" nillable="true" type="tns:ArrayOfDevalayaSummary" />
  <xs:complexType name="DevalayaSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfFollowers" type="xs:long" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbNailImage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DevalayaSummary" nillable="true" type="tns:DevalayaSummary" />
  <xs:complexType name="DevalayaDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HowToreach" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MapLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoOfFollowers" type="xs:long" />
      <xs:element minOccurs="0" name="SevaDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialOccasions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimingDetails" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DevalayaDetails" nillable="true" type="tns:DevalayaDetails" />
</xs:schema>