Yaji.Runtime/Service References/DevalayaService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DevalayaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58666/DevalayaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58666/DevalayaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58666/DevalayaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Yaji.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDevalayaService_GetNewListings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewListings" />
  </wsdl:message>
  <wsdl:message name="IDevalayaService_GetNewListings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewListingsResponse" />
  </wsdl:message>
  <wsdl:message name="IDevalayaService_GetDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetails" />
  </wsdl:message>
  <wsdl:message name="IDevalayaService_GetDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDevalayaService">
    <wsdl:operation name="GetNewListings">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevalayaService/GetNewListings" message="tns:IDevalayaService_GetNewListings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevalayaService/GetNewListingsResponse" message="tns:IDevalayaService_GetNewListings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevalayaService/GetDetails" message="tns:IDevalayaService_GetDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevalayaService/GetDetailsResponse" message="tns:IDevalayaService_GetDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDevalayaService" type="tns:IDevalayaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewListings">
      <soap:operation soapAction="http://tempuri.org/IDevalayaService/GetNewListings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetails">
      <soap:operation soapAction="http://tempuri.org/IDevalayaService/GetDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DevalayaService">
    <wsdl:port name="BasicHttpBinding_IDevalayaService" binding="tns:BasicHttpBinding_IDevalayaService">
      <soap:address location="http://localhost:58666/DevalayaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>